#names_allah_info {
    margin-top: 0px;
    text-align: center;
    display: block;
    padding: 10px;
    width: 95%;
    border-radius: 10px;
    background-color: var(--b-color-8);
}

#names_allah_info_title {
    color: var(--color-font-7);
}

#names_allah_info_text {
    font-size: 12px;
    color: var(--color-font-6);
}

#names_allah {
    display: block;
    margin-top: 20px;
}

#names_allah_item {
    text-align: center;
    background-color: var(--b-color-1);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 90%;
    padding: 5px;
}

#names_allah_item h3 {
    font-size: 35px;
    font-family: var(--font3);
    color: var(--color-font-4);
    margin: 0 0 0 0;
}

#names_allah_item p {
    color: var(--color-font-1);
    margin-top: 5px;
}